*,
body {
    margin: 0;
    padding: 0;
}

#container {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 20px 0 10px 0;
}

i {
    font-family: FontAwesome;
    font-style: normal
}
#info {
    font-size: 20px;
}

#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}

.incorrect {
    color: #d43f3a;
}

.correct {
    color: #4cae4c;
}

textarea {
    font-size: 18px;
    padding: 1em;
}

.boxsizingBorder {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
